body{
  overflow: auto;
  background-color: #f8f8f8;
}

button{
  border-radius: 8px;
  color: #fff;
  background: #24ac86;
  height: 2.5rem;
  border: 2px solid transparent;
}

.App {
  text-align: center;
}

.Header{
  background-color: #24ac86;
}

.Header img, .modal img{
  width: 10rem;
}

.Header a{
  color: #fff;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  text-decoration: underline;
}

.Header a:hover{
  color: #fff;
  text-decoration: underline;
}

.Header button{
  background-color: #424242;
  color: #fff;
}

.Header button:hover{
  background-color: #424242;
  color: #fff;
}

.modal{
  --bs-modal-width: 430px;
}

.modal-header{
  justify-content: center;
  flex-direction: column;
  border: 0;
  margin: 2rem;
}

.Menu-choose{
  width: 100%;
}

.Modal-logo{
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.Menu-choose button{
  width: 50%;
  border-radius: 0;
  background-color: #EEEEEE;
  color: #424242;
}

.Menu-choose .Chosen{
  background-color: #424242;
  color: #fff;
}

.UserSubmit{
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.UserSubmit input{
  border: 0;
  border-bottom: 2px solid #B3B3B3;
  padding-left: 0.5rem;
  margin-bottom: 2rem;
  color: #000;
}

.UserSubmit button{
  margin: 3rem;
}

